<!--<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->


<ion-content class="no-scroll">
  <div class="top">
    <img src="assets/images/ketchupWalking.gif" width="100" height="200" />
  </div>
  <!-- Social Login Buttons -->
  <div class="bottom">
    <div class="buttons" *ngIf="mode == 'main'">
      <div>
        <!-- <button ion-button icon-left class="facebook" tappable (click)="loginProvider.facebookLogin()"><ion-icon name="logo-facebook"></ion-icon>Continue with Facebook</button>
        <button ion-button icon-left class="google" tappable (click)="loginProvider.googleLogin()"><ion-icon name="logo-google"></ion-icon>Continue with Google</button> -->
        <!--<button ion-button icon-left class="secondary" tappable (click)="loginProvider.guestLogin()"><ion-icon name="happy"></ion-icon>Continue as Guest</button>-->
        <button ion-button icon-left class="dark" tappable (click)="clearForms(); mode = 'register'"><ion-icon name="md-mail-open"></ion-icon>Signup with Email</button>
        <p tappable (click)="clearForms(); mode = 'login'">Have an account? <b>Log in</b></p>
      </div>
    </div>
    <!-- Login Form -->
    <div class="form" *ngIf="mode == 'login'">
      <button class="clear" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailPasswordForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Your Password"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button icon-left class="dark" tappable (click)="login()" [disabled]="!emailPasswordForm.valid"><ion-icon name="md-key"></ion-icon>Log in to FireLine</button>
      </form>
      <p tappable (click)="clearForms(); mode = 'forgotPassword'">Forgot your Password?</p>
    </div>
    <!-- Registration Form -->
    <div class="form" *ngIf="mode == 'register'">
      <button class="clear" ion-button icon-only tappable (click)="mode = 'main'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailPasswordForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Create Password"></ion-input>
          </ion-item>
          <ion-list formControlName="radio" radio-group [(ngModel)]="value">
            <!-- <ion-item *ngFor="let option of fieldForm.value.options.values">
              <ion-label>{{option.label}}</ion-label>
              <ion-radio value="{{option.value}}"></ion-radio>
            </ion-item> -->


            <ion-item>
              <ion-label>Business</ion-label>
              <ion-radio value="business"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>User</ion-label>
              <ion-radio value="user"></ion-radio>
            </ion-item>


          </ion-list>
        </ion-list>
        <button ion-button icon-left class="dark" tappable (click)="register()" [disabled]="!emailPasswordForm.valid"><ion-icon name="md-log-in"></ion-icon>Join FireLine</button>
      </form>
      <p>By joining you agree to our <b>Terms</b> &amp; <b>Privacy Policy.</b></p>
    </div>
    <!-- Forgot Password Form -->
    <div class="form" *ngIf="mode == 'forgotPassword'">
      <button class="clear" ion-button icon-only tappable (click)="clearForms(); mode = 'login'"><ion-icon name="md-close"></ion-icon></button>
      <form [formGroup]="emailForm">
        <ion-list>
          <ion-item no-lines>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="Your Email Address"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button icon-left class="dark" tappable (click)="forgotPassword()" [disabled]="!emailForm.valid"><ion-icon name="md-unlock"></ion-icon>Reset Password</button>
      </form>
      <p tappable (click)="clearForms(); mode = 'login'">Password found? <b>Log in</b></p>
    </div>
  </div>
</ion-content>
